body {    
    background-image: url("8288032.jpg");
    background-repeat: no-repeat;
    background-size: cover;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#game-heading {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    color: #FF6F5E;
    font-weight: 600; 
}

#outer {
    height: 65vh;
    width: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 10px solid #557153;
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
}

.inner {
    height: 33.3%;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box; /* Prevents spacing issues */
    color: #e29961;
    font-family:  arial;

}

.result{
    /* margin-bottom: 1rem; */
    font-size: 3rem;
    color: #ebe4a1;
    font-weight: 600;
    position: absolute;
    padding: 50px;
    background-color: #7f8c97;
    border-radius: 15px 50px;
  
}

/* Add vertical (|) separators except for the last column */
.inner:nth-child(3n+1),
.inner:nth-child(3n+2) {
    border-right: 10px solid #1687A7;
}

/* Add horizontal (—) separators except for the last row */
.inner:nth-child(-n+6) {
    border-bottom: 10px solid #1687A7;
}

#refresh-btn {
    margin-top:1.5rem ;
    padding: 10px 80px;
    font-size: 25px;
    background-color: #3BB0BA;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#refresh-btn:hover {
    background-color: #2e8d7f;
}